version: '3'
services:
  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins-master
    ports:
      - "8080:8080"
      - "50000:50000" # Y: JavaNetworkLaunchProtocol(JNLP) = jenkins-agent-connection
    # en vir on ment:
    # environment:
    volumes:
      - jenkins_home:/var/jenkins_home
    # depends_on:
    
  agent1:
    image: jenkins/inbound-agent
    container_name: jenkins-agent1
    # ports:
    # en vir on ment:
    environment:
      - JENKINS_URL=http://jenkins:8080
      - JENKINS_SECRET=
      - JENKINS_AGENT_NAME=agent1
    # volumes:
    depends_on:
      - jenkins

  agent2:
    image: jenkins/inbound-agent
    container_name: jenkins-agent2
    # ports:
    # en vir on ment:
    environment:
      - JENKINS_URL=http://jenkins:8080
      - JENKINS_SECRET=
      - JENKINS_AGENT_NAME=agent2
    # volumes:
    depends_on:
      - jenkins
volumes:
  jenkins_home:

