version: '3'

services: 

  # G: |1|
  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins-master
    ports:
      - "8080:8080"
      - "50000:50000" # Y: JavaNetworkLaunchProtocol(JNLP) = jenkins-agent-connection
    volumes:
      # IMP: hostPath: containerPath | hostpath => managed by podman here as we added <volumes.jenkins_home> billow.
      - jenkins_home:/var/jenkins_home
    # envirnoment:
    # depends_on:

  # G: |2|
  agent1:
    image: jenkins/inbound-agent:latest
    container_name: jenkins-agent1
    environment:
      - JENKINS_URL=http://jenkins:8080/
      - JENKINS_SECRET=f736e2ea913604d45091121dc14f3b650d187dc08f7fdb1a0205f5e142094c3a
      # Y: To get JENKINS_SECRET create a node in jenkins appa and select the node, there we will se the commands with a secret code.
      - JENKINS_AGENT_NAME=agent1
      - JENKINS_WEB_SOCKET=true
    volumes:
     # Y:   hostPath: containerPath
      - /home/mukuldk/1_file/3_Repos_All/A_gitHub/7_jenkins-cicd-lab/3_Jenkins_data_folder/agent1/:/home/jenkins/agent
    depends_on:
      - jenkins

  # G: |3|
  agent2:
    image: jenkins/inbound-agent:latest
    container_name: jenkins-agent2
    environment:
      - JENKINS_URL=http://jenkins:8080/
      - JENKINS_SECRET=1c593025465cb3113316090d87aa1110540848c4d0e7051390a43e5bbc278624
      # DX: WE NEED DIFFERENT SECRET CODE FOR DIFFERENT NODE.
      - JENKINS_AGENT_NAME=agent2
      - JENKINS_WEB_SOCKET=true
    volumes:
     # Y:   hostPath: containerPath
      - /home/mukuldk/1_file/3_Repos_All/A_gitHub/7_jenkins-cicd-lab/3_Jenkins_data_folder/agent2/:/home/jenkins/agent
    depends_on:
      - jenkins

volumes:
  jenkins_home:
    # B: here billow we have used the volume which was already creted while we run it first time, so we can also create one prior.
    external: true
    name: 2_installations_jenkins_home

  # Y: managed by podman => can be used like this ->
  # podman volume inspect jenkins_home
  # podman volume export jenkins_home > backup.tar


  # ================================================================================================================================================================================


  # services:
  #   servcie_name:
  #     image:
  #     container_name:
  #     ports:
  #     volumes:
  #     env-ir-no-ment:
  #     depends_on:
  

# R: 
# ________________________________________________________
# | Service | Address                                    |
# | ------- | ------------------------------------------ |
# | jenkins | [http://jenkins:8080](http://jenkins:8080) |
# | agent1  | [http://agent1:…](http://agent1:…)         |
# | agent2  | [http://agent2:…](http://agent2:…)         |
# |======================================================|


#Y: NODE SETTINGS ON JENKINS APP.
  #-------------------------------
  # and i added the fields like 
  # name = agent1 
  # descreption - blank 
  # no of exicutor = 1 
  # root directory = /home/jenkins/agent 
  # labels - blank 
  # usage = use this node as much as possible 
  # launch method = by connecting to controller 
  # avialability - keep this node online as much as possible 
  # everything else blank

# IMP: NOT WORKING NOW.
  #-------------------------------
  # step:1 => podman-compose up -d
  # step:2 => podman exec -it jenkins-master cat /var/jenkins_home/secrets/initialAdminPassword
  # step:3 => - JENKINS_SECRET=16a22dfdfaca40565c ( WITH ABOVE CODE )
  # step:4 => podman-compose up -d agent1
  #-------------------------------
